@import "./Variables.scss";

.projects {
  width: 100vw;
  height: 74%;
  position: relative;
 
  background-color: $arcticGrey;
  
  .projects-container{
   width: 100%;
   height: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   margin: 20% 0 0 0;
   //border: 2px solid purple;

   @media (min-width: 500px) {
    
    justify-content: flex-start;
   

  }
  @media (min-width: 920px) {
    height: 80%;
    justify-content: flex-start;

   
  }
  @media (min-width: 1600px) {
    height: 80%;
    justify-content: flex-start;
  
  }
  


   .special-project:first-of-type{
  
    position: relative;
    background: rgb(85,169,229);
    background: linear-gradient(90deg, rgba(85,169,229,1) 6%, rgba(13,110,247,1) 93%);
    color: white;
    transition: all .8s ease-in-out;
    order: 1;

    h2{
      color: white;
    }

    p{ 
      color: white;
    }
    .special-demo-button{ 
      background-color: inherit;
      color: white;
      border: 2px solid white;
    } 


    &:hover{
   
      .special-demo-button {
        background-color: white;
        color: #367BF3;
      }
    }



   }

    .project-container-1 {
      
      width: 100%;
      order: 2;
     
      position: relative;
      display: flex;
      flex-direction: column;
      //border: 2px solid brown;
      justify-content: space-between;

     .project:last-of-type{
      background-color: #3D5648;
      color: white;

      h2{
        color: white;
      
      }
      p{
        color: white;
      }
      img{
        width: 100%;
        object-fit: contain;
        margin: -5% 0 0 -5%;
      }
     }

      @media (min-width: 500px) {
        flex-direction: column;
        margin: 0 auto;
     
       
 
      }
      @media (min-width: 920px) {
        width: 80%;
        flex-direction: row;
    
        margin: 0 auto;
    
       
      }
      @media (min-width: 1600px) {
        width: 80%;
        flex-direction: row;
        margin: 0 auto;
      }

    }

    .project-container-2{
      width: 100%;
      order: 3;
      display: flex;
      position: relative;
      flex-direction: column;
      //border: 2px solid aqua;
      justify-content: space-between;

      @media (min-width: 500px) {
        flex-direction: column;
        margin: 0 auto;
       
 
      }
      @media (min-width: 920px) {
        width: 80%;
        flex-direction: row;
        margin: 0 auto;
    
       
      }
      @media (min-width: 1600px) {
        width: 80%;
        flex-direction: row;
        margin: 0 auto;
      
      }

      .project:first-of-type {
        background-color: #295767;

        p{
          color: $white;
        }

        ul{
          color: $white;
          
        }
      }

    }

    .special-project:last-of-type{
      position: relative;
      background-color: #1A1C1F;
      top: -2%;
      //border: 2px solid magenta;
      order: 4;

       h2{
        color: white;
       }

       p{ 
       color: white;
       }
      .special-demo-button{ 
       background-color: inherit;
       color: white;
       border: 2px solid white;


        } 
        ul{
          color: white;
        }

      @media (min-width: 500px) {
       top: 0;
       
 
      }
      @media (min-width: 920px) {
        top: -5%;
    
       
      }
      @media (min-width: 1600px) {
        top: -5%;
      
      }

      &:hover{
       .special-demo-button{
        background-color: white;
        color: #1A1C1F;
       }
       }

    }
  }
 



 
 


  .project-wave{
    position: absolute;
    bottom: 0;
  }
  
  .project-wave.darkmode{
    path{
        fill: $nordGrey;
    }
  }

 
}



.projects.darkmode{
  background-color: $nordDarkerGrey;
}



